.maplibregl-popup-content {
    padding: 0;
    background: inherit;
}

.maplibregl-popup-tip {
    display: none;
}

.maplibregl-ctrl {
    color: var(--chakra-colors-fg);
}

.maplibregl-ctrl-scale {
    background: transparent;
    border-color: var(--chakra-colors-fg);
}